version: '3.4'

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports: 
      - '5432:5432'
    volumes:
      - bookings-db:/var/lib/postgresql/data
    restart: unless-stopped
  fastestdraw:
    build:
      context: .
    environment:
      DB_SCHEMA: postgres
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_HOST: postgres
    depends_on:
      - postgres
    ports:
      - '3000:3000'
    volumes:
      - ./session_state.json:/opt/app/session_state.json
    restart: unless-stopped
volumes:
  bookings-db: